.sidebar-logo {
    display: flex;
    align-items: center;
}

.sidebar-logo img {
    margin-right: 8px; /* Adjust spacing as needed */
}

.sidebar-logo .app-name {
    font-size: 1.25rem; /* Adjust font size as needed */
    font-weight: bold;
}
